	/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Float 

inherit - it lets the child elements to get the properties of its parent

right - it allows the element to position within their parent container // align side by side

left - opposite of right 
*/

.img-float {
	width: 250px;
	height: 250px;
	float: right; 
}


/*POSITIONING 
	Static - the default value of position for ALL elements / it doesn't move. left, right, top and bottom properties wont work.
	

	relative -it follows the normal flow of the document but  it is affected by the left, right, top and bottom properties.
	
	absolute - the element position to our html document itself. and not relying on its parent element but if the parent has a "position: relative" , the child element will depend on its parent.
	
	fixed - similar to absolute element , but even if the parent element has a "position: relative" it doesnt affect, left, right, top and bottom properties also wont work. 
	
	sticky - 
	
*/
.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 50vh;
	
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
/*	position: absolute;*/
/*	position: fixed;*/
	position: sticky;
	left: 10px;
	bottom: 10px;
	top: 10px;
}

.child-three {
	background-color: orange;
	padding: 10px;
}

html {
	min-height: 200vh;
}


.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3; /* gray box will be above both green and black box */
  background: lightgray;
  height: 60px;  
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2; /* green box will be above black box */
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}