
/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {

	font-family: 'Open sans', sans-serif;
}

/* nav bar */

nav {
	padding: 0.8rem;
	margin-bottom: 2rem; 
	border-bottom: 1px solid gray;
}

nav ul {
	list-style-type: none;
}

nav .nav-logo, nav .nav {
	margin: 0.5rem;
	/*Changes the list items to inline elements*/
/*	display: inline;*/
}

nav li {
    display: inline-block;
    position: relative;
  }
  
nav li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
  }
  
nav li:hover {
    background-color: #f1f1f1;
  }

/*.nav {
  position: relative;
  display: inline-block;
}*/

.nav:hover {
	cursor: pointer;
}

.nav::after {
  content: "";
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #000; /* Change this to your desired underline color */
  transform: scaleX(0);
 
}

.nav:hover::after {
  transform: scaleX(1);

}

 .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    padding: 10px 20px;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #ddd;
  }




/*1st section*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*Shorthand Property*/
	/*padding: 2rem 10% 3rem;*/
	/*centers all text elements*/
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*2nd section*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*Section 3*/

/*member 1*/
#pre-footer {

	padding: 1rem;
	color: white;
	background-color: #002540;
	
	
}

/*member 2 and 3*/
#pre-footer div {
	display: inline-block;
	width: 20%;
	margin-top: .3rem;
	margin-bottom: .3rem;
}




/*member 4*/
footer {
	
	padding: .7rem;

}

/*member 5*/

footer > span {
	margin-left: .5rem;
	margin-right: .5rem;
}
	

