/*div by default is display: block*/

#div-3 {
	display: inline;
	background-color: skyblue;
	border: 2px solid black;
	height: 200px;
	width: 200px;
}

#div-4 {
	display: inline;
	background-color: aquamarine;
	border: 2px solid black;
	height: 200px;
	width: 200px;
}

/*span by default is display: inline*/
#span-3 {
	display: block;
	background-color: gray;
	border: 2px solid black;
}

#span-4 {
	display: block;
	background-color: brown;
	border: 2px solid black;
}

/*Inline-block */

#span-5 {
	background-color: yellow;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}
 
#span-6 {
	background-color: orange;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#div-5 {
	background-color: pink;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#div-6 {
	background-color: violet;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}


/*Display: none;*/

#div-7 {
	display: none;
	background-color: lightcyan;
	border: 2px solid black;

}

#span-7 {
	display: none;
	background-color: lightgreen;
	border: 2px solid black;
}

/*CSS Units : px vs % */

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	border: 2px solid navy;
	font-size: 30px;
	width: 135px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	width: 25vh;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

.background {
	min-height: 100vh;
/*	background-color: gray;*/
	/*you can also use #808080 or rgb (128, 128,128)*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
}

.container-bg {
	background-color: rgb(0, 0, 0, 0.5);
	min-height: 100vh;

}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}


